*{
    box-sizing: border-box;
}

header img{
    border-radius: 50%;
    width: 180px;
    text-align: left;
    display: flex;
}

body {
    background-color: black;
    color: white;
}



.barra a{
    text-decoration: none;
    color: black;
    margin: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #2c2d42;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    border: solid, 3px;
    color: white;
    
    
}

.barra ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    
}

.buscador{
    text-align: right;
    margin-top: 40px;
    font-family: 'PT Sans Caption', sans-serif;
}

footer ul{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header{
    display: flex;
    justify-content: space-around; 
    background-color: #1c1c28;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #1c1c28;
    border-radius: 15px 15px 15px 15px;
    
}

h1{
    font-family:'Poppins', sans-serif;
    text-align: center;
    
}

.contenedor_index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    

}



.peliculas_populares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}

.peliculas_populares article{
    background-color: #2c2d42;
    border-radius: 2%;
    margin: 5px;
}

.peliculas_populares img {
    border-radius: 2%;
    width: 280px;
    height: 165px;
    padding: 5px;
    
}

.peliculas_populares :hover{
    transform: scale(1.2);
    transition: transform 1.5s;
}





.series_populares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}

.series_populares img {
    border-radius: 2%;
    width: 280px;
    height: 165px;
    padding: 5px;
}

.series_populares :hover{
    transform: scale(1.2);
    transition: transform 1.5s;
}

.series_populares article{
    background-color:#2c2d42;
    border-radius: 2%;
    margin: 5px;
}





.lo_mas_visto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}


.lo_mas_visto img{
    border-radius: 2%;
    width: 280px;
    height: 165px;
    padding: 5px;
}

.lo_mas_visto :hover{
    transform: scale(1.2);
    transition: transform 1.5s;
}

.lo_mas_visto article{
    background-color: #2c2d42;
    border-radius: 2%;
    margin: 5px;
}





main h4{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

main p{
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.slider{
    margin: 0;
    padding: 0 4%;
    position: relative;
    touch-action: pan-y;
    display: flex;
    justify-content: space-around;
}