*{
    box-sizing: border-box;
}

header img{
    border-radius: 50%;
    width: 180px;
    text-align: left;
    display: flex;
}

.barra a{
    text-decoration: none;
    color: black;
    margin: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
}

.barra ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.buscador{
    text-align: right;
    margin-top: 40px;
    font-family: 'PT Sans Caption', sans-serif;
}

footer ul{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header{
    display: flex;
    justify-content: space-around; 
    background-color: rgb(250, 128, 114);
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-radius: 15px 15px 15px 15px;
}

h1{
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    
}

.contenedor_index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    

}
.peliculas_populares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    

}

.peliculas_populares img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    border: solid 3px;

}

.series_populares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;

}

.series_populares img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    border: solid 3px;
    
}

.lo_mas_visto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}

.lo_mas_visto img{
    width: 100%;
   
    border-radius: 15px 15px 15px 15px;
    border: solid 3px;
}