*{
    box-sizing: border-box;
    margin:0;

}

header img{
    border-radius: 50%;
    width: 180px;
    text-align: left;
    display: flex;
}

header{
    display: flex;
    justify-content: space-around; 
    background-color: #1c1c28;
    padding: 10px;
    border-radius: 15px;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #1c1c28;
    border-radius: 15px;

    
}

body {
    background-color: black;
    color: white;
}


h2{
    font-family:'Poppins', sans-serif;
    text-align: center;
    background-color: #2c2d42;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 20px;   
    margin-top: 15px;
  
}

h4{
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    
}


p{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    font-size: 14px;
}

.barra a{
    text-decoration: none;
    color: black;
    margin: 30px;
    font-family:'Poppins', sans-serif;
    background-color: #2c2d42;
    padding: 15px;
    border-radius: 15px;
    border: solid, 3px;
    color: white;
    
    
}

.barra ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    
}

.buscador{
    text-align: right;
    margin-top: 40px;
    font-family:'Poppins', sans-serif;

}

footer ul{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 15px;
}

footer ul li{
    margin-top: 20px;
}

footer{
    border-radius: 15px;
    background-color: #2c2d42;
    height: 60px;
}

.contenedor_html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;

}

.section_html {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}



.section_html img {
    border-radius: 2%;
    width: 100%;
    height: 150px;
    padding: 0;
    
}

.section_html a {

    background-color: #2c2d42;
    border-radius: 2%;
    margin: 5px;                
    width: 19%;
    text-decoration: none;
    color: white;
    padding: 5px;
    height: 25%;
}

.section_html p{
    font-size: 13px;
    color: rgba(237, 225, 225, 0.8);
}


.section_html a:hover{
    transform: scale(1.2);
    transition: transform 1.5s;
}


.detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.detail article {
    padding: 10px;
}

.detail h6,h5{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    display: flex;

}

.trailer{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin-right: 5px ;
    padding-top: 15px;
}

.info-trailer{
    background-color: #2c2d42;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-right: 10px;

}


.parrafo-trailer {
    display: block;
    background-color: #2c2d42;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.boton-agregar-favoritos{
    background-color: #2c2d42;
    border-radius: 15px;
    margin-top: 15px;
    font-family:'Poppins', sans-serif;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 20px;
    color: rgb(236, 220, 104);
}

.detail img{
    width: 500px;
    border-radius: 20px;
}

.video {
    border-radius: 5%;
    width: 100%;
   
}

.detail p{
    text-align: justify;
}

.detail h2{
    margin-bottom: 15px;
    margin-top: 0;
}

.section-genres{
    display: flex;
    flex-direction: column;
}


.section-genres article{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    text-align: center;

}

.accion h2 {
    display: flex;
    background-image: url(../Imagenes/genres-accion.jpeg);
    background-size: cover;
    border-radius: 25px;
    width: 50%;
    height: 8vw;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items:center;
    font-size: 40px;
    height: 16vh;

}

.familia h2{ 
    display: flex;
    background-image: url(../Imagenes/genres-familia.jpg) ;
    background-size: cover;
    border-radius: 25px;
    width: 50%;
    height: 8vw;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items:center;
    font-size: 40px;
    height: 16vh;
}

.ranking h2{ 
    display: flex;
    background-image: url(../Imagenes/trofeos.png) ;
    background-size: contain;
    background-color:rgb(113, 113, 195);
    border-radius: 25px;
    width: 50%;
    height: 8vw;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items:center;
    font-size: 40px;
    height: 16vh;
}

.maratonear h2{ 
    display: flex;
    background-image: url(../Imagenes/genres-maratonear.png) ;
    background-size: cover;
    background-color:rgb(113, 113, 195);
    border-radius: 25px;
    width: 50%;
    height: 8vw;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items:center;
    font-size: 40px;
    height: 16vh;
}



