*{
    box-sizing: border-box;
}

header img{
    border-radius: 50%;
    width: 180px;
    text-align: left;
    display: flex;
}

header{
    display: flex;
    justify-content: space-around; 
    background-color: #1c1c28;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #1c1c28;
    border-radius: 15px 15px 15px 15px;
    
}

body {
    background-color: black;
    color: white;
}


h2{
    font-family:'Poppins', sans-serif;
    text-align: center;
    background-color: #2c2d42;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
  
    
    
}

h4{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    font-size: 15px;
}

.barra a{
    text-decoration: none;
    color: black;
    margin: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #2c2d42;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    border: solid, 3px;
    color: white;
    
    
}

.barra ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    
}

.buscador{
    text-align: right;
    margin-top: 40px;
    font-family: 'PT Sans Caption', sans-serif;
}

footer ul{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.contenedor_html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;

}

.section_html {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}

.section_html article{
    background-color: #2c2d42;
    border-radius: 2%;
    margin: 5px;
}

.section_html img {
    border-radius: 2%;
    width: 280px;
    height: 165px;
    padding: 5px;
    
}

.section_html  :hover{
    transform: scale(1.2);
    transition: transform 1.5s;
}


